<footer>
	<div id='footer' class='text-white bg-dark bg-gradient text-muted'>
		<span id='footer-name'>Aleksandr Gusev @2021</span>
		<a id='email-link' href='mailto:agusev@sfsu.edu'>Contact</a>
	</div>
</footer>